streamlit==1.40.0

pandas==2.2.2
numpy==1.26.4

Pillow==10.4.0

xgboost==3.0.2
scikit-learn==1.5.2

# TensorFlow cho BiLSTM (.keras)
tensorflow==2.15.0

# RDKit bản pip (dùng cho canonical SMILES + fingerprints)
rdkit-pypi==2022.9.3
